body{
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
i.icon {
    font-size: 2em;
}
.container.main{
    margin-top: 7.0em;
}

#delete {
    display: inline;
}

.description {
    margin-top: 20px;
    margin-bottom: 20px;
}

#blogTitle{
    color:rgb(212, 152, 151);
}

.blogHeader :hover{
    color:purple;
    text-decoration: none;
}